<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/loggig/logback/base.xml"/>
    <appender name="dailyRollingFileAppender">

    </appender>
</configuration>

        <!-- 스프링부트에서는 logback-spring.xml을 권장
        logback.xml로 설정하면 스프링부트가 설정하기 전에 로그백 관련한 설정을 하기 때문에 제어할 수가 없게 된다. -->
        <!--
        https://enterkey.tistory.com/396
https://java.ihoney.pe.kr/397
https://meetup.toast.com/posts/149 토스트 밋업
https://perfectacle.github.io/2018/07/22/spring-boot-2-log/
        -->